// Internal pages only
.about.inner {
    .container-wrap {
        &.first, &.second {
            background-image: url(/img/dist/bg-about-business.jpg);

            .container {
                h1, h2, p, small {
                    color: white;
                    border-color: white;
                }
            }
        }

        &.first {
            position: relative;

            .container {
                .james-frazier-wrap {
                    position: fixed;
                    bottom: 85px;
                    right: 45px;

                    .james-frazier {
                        width: 250px;
                        height: 250px;
                        border-radius: 50%;
                        border: 2px solid $color-blue;
                        text-align: center;
                        display: inline-block;
                        margin: 0 auto;
                    }
                }
            }
        }

        &.second {
            background-image: url(/img/dist/bg-about-party.jpg);
        }
    }
}

@media screen and (max-width: $media-desktop-sm) {
    .about.inner {
        .container-wrap.first {
            .container {
                .james-frazier-wrap {
                    .james-frazier {}
                }
            }
        }
    }
}

@media screen and (max-width: $media-tablet) {
    .about.inner {
        .container-wrap.first {
            .container {
                .james-frazier-wrap {
                    bottom: 70px;
                    right: 10px;

                    .james-frazier {
                        width: 75px;
                        height: 75px;
                    }
                }
            }
        }
    }
}