.home {
    .container-wrap {
        &.first {
            z-index: 1;
            background-image: url(/img/dist/james-in-snow.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;

            .container {
                position: relative;
                height: 100vh;

                .caption-box {
                    display: none;
                    position: absolute;
                    max-width: 30%;
                    bottom: 43%;
                    right: 0;
                    background-color: rgba(black, 0.5);
                    padding: 20px;

                    h1 {
                        color: white;
                        margin: 0;
                    }

                    p {
                        color: white;
                    }
                }
            }
        }

        &.second, &.third, &.fourth {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            background-attachment: fixed;

            .container {
                height: 100vh;

                small {
                    color: white;
                    border-color: white;
                }

                h2 {
                    color: white;
                }

                p {
                    color: white;
                    text-align: center;
                }

                .home-icons {
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    width: 100%;
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        width: 50%;
                        padding: 2% 5%;

                        &:first-child {
                            text-align: right;
                        }

                        &:last-child {
                            text-align: left;
                        }

                        .fa {
                            font-family: $font-awesome;
                            font-size: 7rem;
                            transition: all 0.3s ease-in-out;
                            color: white;

                            &:hover {
                                transform: translate(0, -10px);
                            }
                        }
                    }
                }
            }
        }

        &.second {
            position: relative;
            background-image: url(img/dist/bg-websites-liberty.jpg);

            .element {
                .fa {
                    color: white;
                    font-size: 2rem;
                    position: absolute;
                }
            }
        }

        &.third {
            background-image: url(img/dist/bg-email-gmail.jpg);

            .container {
                small {
                    color: black;
                    border-color: black;
                }

                h2 {
                    color: black;
                }

                p {
                    color: black;
                }

                .home-icons li {
                    img, svg {
                        max-width: 250px;
                        height: auto;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            transform: translate(0, -10px);
                        }
                    }
                }
            }
        }

        &.fourth {
            background-color: $color-blue;
        }
    }
}

@media screen and (max-width: $media-desktop-sm) {
    .home .container-wrap {
        &.first {
            .container {
                .caption-box {
                    position: absolute;
                    max-width: 100%;
                    bottom: 100px;
                    right: 0;
                    background-color: rgba(black, 0.5);
                    padding: 20px;

                    h1 {
                        color: white;
                        margin: 0;
                    }

                    p {
                        color: white;
                    }
                }
            }
        }

        &.third {
            .container {
                .home-icons {
                    flex-direction: column;

                    li {
                        width: 75%;

                        a {
                            width: 100%;

                            img {
                                width: 100%;
                            }
                        }

                        &:first-child {
                            text-align: center;
                            margin-bottom: 20px;
                        }

                        &:last-child {
                            text-align: center;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}