// General layout
.body-wrap {
    .container-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        .container {
            width: 90%;
            height: 100vh;
        }
    }
}

// Home page
.home {
    .container-wrap {
        &.first {
            background-image: url(/img/dist/james-in-snow.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            // filter: contrast(200%);

            .container {
                position: relative;

                .caption-box {
                    position: absolute;
                    max-width: 30%;
                    bottom: 10%;
                    left: 0;
                    background-color: rgba(black, 0.5);
                    padding: 20px;

                    h1 {
                        color: white;
                        margin: 0;
                    }

                    p {
                        color: white;
                    }
                }
            }
        }

        &.second {
            background-color: $color-blue;
        }
    }
}