#navbar {
    background-color: rgba($color-blue, 0.95);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid white;

    .logo {
        width: 200px;
        padding: 10px 20px;
        float: left;

        a {
            display: block;
            color: white;
        }
    }

    .navlinks {
        float: right;

        ul {
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: center;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin: 0;
                padding: 0;

                a {
                    display: inline-block;
                    font-weight: $font-light;
                    line-height: 45px;
                    padding: 10px 20px;
                    text-align: center;
                    color: white;
                    text-decoration: none;
                }

                &:hover {
                    background-color: rgba(black, 0.15);
                }
            }
        }
    }

    .navmobile {
        display: none;
    }
}

.mobilemenu {
    display: none;
    z-index: 9;
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    width: 100%;
    height: auto;

    // height: calc(100vh - 70px);
    bottom: 68px;
    left: 0;
    background-color: rgba($color-blue, 0.95);
    box-shadow: 0 0 20px rgba(black, 0.15);

    li {
        margin: 0;
        padding: 8px 20px;
        text-align: center;
        border-bottom: 1px solid rgba(black, 0.15);

        a {
            color: white;
            display: block;
            width: 100%;
        }

        &:hover {
            background-color: rgba(white, 0.75);

            a {
                color: $color-blue;
            }
        }
    }
}

// Subnav
.subnav {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(black, 0.75);
    border: none;
    border-bottom: 2px solid $color-blue;

    // Page title
    .page-title {
        display: block;
        position: absolute;
        width: 76px;
        height: 30px;
        line-height: 30px;
        top: 49px;
        right: 20px;
        margin: 0;
        color: white;
        font-size: 0.8rem;
        background-color: $color-blue;
        text-align: center;

        &:before {
            position: absolute;
            left: -20px;
            top: 0;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 20px 30px 0;
            border-color: transparent $color-blue-dark transparent transparent;
        }

        &:after {
            position: absolute;
            right: -20px;
            top: 0;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 30px 20px 0 0;
            border-color: $color-blue-dark transparent transparent transparent;
        }
    }

    ul {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            a {
                display: inline-block;
                font-weight: $font-light;
                padding: 8px 20px;
                font-size: 0.75rem;
                color: white;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: $media-tablet) {
    #navbar {
        .navlinks {
            display: none;
        }

        .navmobile {
            display: block;
            float: right;
            width: auto;
            padding: 0 10px;
            line-height: 67px;

            .fa {
                color: white;
                font-size: 1.5rem;

                &.fa-bars {
                    display: inline-block;
                }

                &.fa-times {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: $media-mobile) {
    .subnav {
        .page-title {
            top: 46px;
            font-weight: $font-medium;

            &:before {
                top: 0;
            }

            &:after {
                top: 0;
            }
        }
    }
}