.services.inner {
    .container-wrap {
        .container {
            h1, h2, p, small, li {
                color: white;
                border-color: white;
            }
        }

        &.first {
            background-image: url(/img/dist/bg-services-websites.jpg);
        }

        &.second {
            background-image: url(/img/dist/bg-services-wordpress.jpg);
        }

        &.third {
            background-image: url(/img/dist/bg-services-html5.jpg);
        }

        &.fourth {
            background-image: url(/img/dist/bg-services-mailchimp.jpg);

            .container {
                h1, h2, p, small, li {
                    color: black;
                    border-color: black;
                }
            }
        }

        &.fifth {
            background-image: url(/img/dist/bg-services-campaign-monitor.jpg);

            .container {
                h1, h2, p, small, li {
                    color: black;
                    border-color: black;
                }
            }
        }
    }
}