// Internal pages only
.thanks.inner {
    .container-wrap {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;

        .container {
            h1, h2, p, small, li {
                color: white;
                border-color: white;
            }

            h1 {
                margin: 0;
            }
        }

        &.first {
            background-image: url(/img/dist/bg-contact-thanks.jpg);
        }
    }
}