// Colors
$color-blue: #007fbe;
$color-gray: #333333;

// Fonts
$font-serif: 'Roboto Slab', serif;
$font-sans: 'Roboto', sans-serif;
$font-awesome: FontAwesome;

// Weights
$font-light: 100;
$font-medium: 300;
$font-regular: 400;
$font-bold: 700;

// Grid
$media-desktop-lg: 1200px;
$media-desktop-sm: 1024px;
$media-tablet: 768px;
$media-mobile: 480px;